/*初始化*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}


.left {
    flex: 1;
    min-width: 70px;
    max-width: 80px;
    border-right: 1px solid rgba(180, 180, 180, 0.5);
}

.mid {
    flex: 2;
    min-width: 220px;
}

.right {
    flex: 7;
}