.container {
    height: 100vh;
    background: linear-gradient(to right, #ac72a1, #a891a9, #0d132f);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.outerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d5b5d2, #e6d6e8, #b0a7ba);
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 670px;
    padding: 30px 5px;
    position: relative;
    transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
    transform: scale(1);
}

.outerWrap.expand {
    transform: scale(1.7);
    opacity: 0;
}

.title {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: #4f3c55;
    margin-bottom: 40px;
}

.loginBottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.register {
    font-size: 17px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #4f3c55;
    margin-right: 180px;
    position: relative;
}

.forgetPW {
    font-size: 17px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #4f3c55;
    position: relative;
}


.register::after, .forgetPW::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px; 
    background-color: #4f3c55;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.register:hover::after, .forgetPW:hover::after {
    opacity: 1;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 280px;
    right: 570px;
}
