.container {
    height: 100vh;
    background: linear-gradient(to right, #ac72a1, #a891a9, #0d132f);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.outerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d5b5d2, #e6d6e8, #b0a7ba);
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    padding: 30px 5px;
}

.title {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: #4f3c55;
    margin-bottom: 50px;
}

.register {
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(58, 62, 190);
}