.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 18%;
    user-select: none;
    cursor: pointer;
}

.avatar {
    width: 90px;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 160px;
}