.container {
    width: 30%;
    min-width: 300px;
    max-width: 310px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.title {
    margin-top: 30px;
    margin-bottom: 15px;
}

.btnGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.linkBtn {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #d9d9d9;
    cursor: pointer;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

.createBtn {
    border: none;
    border-radius: 10px;
    padding: 13px 25px;
    background-color: #ac72a1;
    color:  white;
    cursor: pointer;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

.linkBtn:hover {
    background-color: #bbbbbb;
}

.createBtn:hover {
    background-color: #926389;
}