.messageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 60px;
    position: relative;
}

.messageBubble {
    max-width: 60%;
    background: linear-gradient(to right, #a7a8b0, #a3a8b9, #9ba2bd);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.messageBubble::after {
    content: "";
    position: absolute;
    top: 95%;
    right: -57px;
    border-width: 10px 0 10px 60px;
    border-style: solid;
    border-color: transparent transparent transparent #9ba2bd;
    transform: translateY(-90%) rotate(10deg);
    z-index: 1;
}
