.barContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.userIcon {
    width: 45px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(237, 232, 232);
    object-fit: cover;
}

.icon {
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

.logout {
    margin-top: auto;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.illustration {
    font-size: 14px;
    color: rgb(166, 166, 166);
}

.illustration2 {
    font-size: 14px;
    color: rgb(166, 166, 166);
    margin-bottom: 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: blanchedalmond;
    cursor: pointer;
}