.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 18%;
    cursor: pointer;
    transition: outline 0.3s ease, transform 0.1s ease;
}

.container:hover {
    transform: scale(0.98);
}

.container:active {
    transform: scale(0.94);
}

.isSelected {
    outline: 10px solid #024685;
}

.avatar {
    width: 90px;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.personality {
    font-weight: bold;
    font-size: 20px;
    height: 130px;
}