.outerContainer {
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    position: relative;
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(0); /* 初始位置 */
    }
    50% {
        transform: translateY(-3px); /* 向上跳動 */
    }
}

.loadingText {
    position: absolute;
    top: -40px;
    left: 15px;
    display: flex;
    gap: 2px;
    background-color: rgb(225, 224, 224);
    padding: 3px 20px;
    border-radius: 15px;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
}

.loadingChar {
    display: inline-block;
    animation: jump 1s infinite;
}

.messageInputWrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.textareaContainer {
    position: relative;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #d9d9d9;
    display: flex;
    flex-grow: 1; /*使容器隨著螢幕寬度變化*/
    align-items: center;
}

.customTextarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #d9d9d9;
    font-size: 16px;
    color: #626060;
    line-height: 1.5;
    overflow-y: auto; /* 超過範圍時，使用xy捲軸 */
    max-height: 140px;
}

/* .customTextarea::placeholder {
    color: #a7a7a7;
} */

.sendButton {
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    display: flex;
}

.gadgetContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 13px;
    margin-right: 13px;
}

.gadget {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.gadget2 {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
