.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    min-height: 600px;
    width: 95%;
    background: linear-gradient(to bottom, #90648d 30%, #382e4e);
    border-radius: 15px;
    border: 3px solid white;
    margin-right: 4%;
    position: relative;
}

.outerContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    pointer-events: none;
}

.dummy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.fade-in {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.header {
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    z-index: 10;
}

.title {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-left: 35px;
}

.question {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 35px;
}

.contactList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    z-index: 10;
}

.button {
    width: 25%;
    padding: 10px;
    margin-top: 50px;
    background-color: #a8a7a7;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    cursor: not-allowed;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    z-index: 10;
}

.button:enabled {
    background: linear-gradient(to bottom, #a56d9a 0%, #4d3348 100%);;
    cursor: pointer
}

/* modal 相關 */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}