/*初始化*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 80%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f2f3f5;
}

.input-group input {
    flex: 1;
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f2f3f5;
}

.custom-placeholder::placeholder {
    color: #b7b7b7;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    cursor: not-allowed;
}

.login-button:enabled {
    background-color: #ff8b49;
    cursor: pointer
}