* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer {
    width: 50%;
    max-width: 350px;
}

/* for account */
.inputGroup {
    margin-bottom: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #4d3348;
    padding: 2px 0px;
}

/* for password */
.inputGroup2 { 
    margin-bottom: 6px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #4d3348;
    padding: 2px 0px;
}

.inputImg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.eyeIcon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.inputGroup input, .inputGroup2 input {
    flex: 1;
    width: 70%;
    max-width: 350px;
    padding: 0px 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.customPlaceholder:placeholder {
    color: #b7b7b7;
}

.error {
    height: 14px;
    color: red;
}

.loginButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #a8a7a7;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    cursor: not-allowed;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.loginButton:enabled {
    background: linear-gradient(to bottom, #a56d9a 0%, #4d3348 100%);;
    cursor: pointer
}