.formContainer {
    width: 50%;
    max-width: 350px;
}

.starSign {
    color: red;
}

.nameGroup {
    display: flex;
    margin-bottom: 10px;
}

.lastNameInput {
    padding: 5px 3px;
    background-color: transparent;
    border-bottom: 3px solid #4d3348;
    display: flex;
    align-items: center;
    margin-right: 35px;
    width: 50%;
}

.firstNameInput {
    padding: 5px 3px;
    background-color: transparent;
    border-bottom: 3px solid #4d3348;
    display: flex;
    align-items: center;
    width: 50%;
}

/* for general input group */
.inputGroup {
    padding: 5px 3px;
    background-color: transparent;
    border-bottom: 3px solid #4d3348;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.lastNameInput input, .firstNameInput input, .inputGroup input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    padding: 0px 5px;
}

/* for password */
.errorMessage {
    color: red;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    height: 15px;
}

.eyeIcon {
    width: 21px;
    height: 21px;
    margin-right: 3px;
    cursor: pointer;
}

.inputImg {
    width: 24px;
    height: 24px;
}

.registerButton {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    background-color: #a8a7a7;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    cursor: not-allowed;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.registerButton:enabled {
    background: linear-gradient(to bottom, #a56d9a 0%, #4d3348 100%);;
    cursor: pointer
}